<div class="flex flex-col items-center justify-center relative lg:w-140">
  <div #dropdownWrapper class="flex flex-col items-center justify-center w-full relative">
    <input type="text" placeholder="Type character name..." class="h-14 w-full rounded-lg border-2 border-slate-700 bg-slate-800 px-6 
             text-lg text-slate-200 placeholder-slate-500 outline-none
             transition-all duration-300 ease-in-out
             focus:border-cyan-500 focus:ring-2 focus:ring-cyan-500/50" [value]="searchText()"
      [disabled]="isGameOver()" (click)="showDropdown.set(true)" (focus)="showDropdown.set(true)"
      (input)="searchText.set($any($event.target).value)" />

    @if(showDropdown() && filteredInputCharacters().length > 0 && !isGameOver()) {
    <ul class="absolute top-full z-50 max-h-60 overflow-y-auto rounded-lg bg-slate-700 text-slate-200 shadow-lg w-full">
      @for (character of filteredInputCharacters(); track character.id) {
      <li class="px-4 py-2 hover:bg-cyan-500 cursor-pointer flex items-center" (click)="makeGuess(character)"
        (keypress)="makeGuess(character)">
        <img [src]="character.image" alt="{{ character.name }}" class="w-10 h-10 rounded-lg mr-2" />
        {{ character.name }}
      </li>
      }
    </ul>
    }

    @if(showDropdown() && filteredInputCharacters().length == 0 && searchText().length > 1) {
    <ul
      class="absolute top-full mt-1 z-50 max-h-60 overflow-y-auto rounded-lg bg-slate-700 text-slate-200 shadow-lg w-full">
      <li class="px-4 py-2">No characters found.</li>
    </ul>
    }
  </div>
</div>

<div class="mt-6 space-y-2 overflow-x-auto">
  @for (result of guessHistory(); track result.character.id; let i = $index) {
  <app-guess-result [result]="result" [showHeaders]="i === 0" />
  }
</div>

@if (isGameOver()) {
<div #gameOverElement class="cursor-pointer bg-gradient-to-br from-gray-100 to-green-500 border-2 border-green-500 rounded-xl 
  shadow-[0_0_15px_rgba(0,255,0,0.3),0_0_10px_rgba(0,0,0,0.1)] p-1 lg:p-5 text-center 
  max-w-md w-[80%] h-[90%] lg:w-full lg:h-full
  game-over-bounce flex flex-col items-center gap-1">
  <h2 class="text-base lg:text-2xl font-bold mb-2">🎉 Congratulations! 🎉</h2>
  <p class="text-sm lg:text-lg">You guessed correctly in <span class="font-bold">{{ tries() }} tries!</span></p>
  <span class="text-sm lg:text-lg">
    Next character in: <span class="text-base lg:text-xl font-bold">{{ timeLeft }}</span>
  </span>
  <p class="text-sm lg:text-lg font-bold">Next mode:</p>
  <app-play-button [customStyle]="'h-12! w-65! lg:min-w-95! lg:max-w-95! lg:h-20!'" [showIconCicle]="showIconCicle">
    <lucide-icon icon class=" w-8 h-8" [img]="MessageSquareQuote"></lucide-icon>
    <span class="text-base lg:text-xl whitespace-nowrap">Quote</span>
    <span class="text-base lg:text-base whitespace-nowrap">Guess with in-series quotes</span>
  </app-play-button>
</div>
}